@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");


input,
textarea {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(45deg, #fff1eb, #ace0f9);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1286px;

}


.container a {
  text-decoration: none;
}
.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
}

.left-side {
  width: 25%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.left-side::before {
  content: "";
  position: absolute;
  height: 70%;
  width: 2px;
  background: #afafb6;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
}

.right-side {
  width: 75%;
  margin-left: 75px;
}

.details {
  margin-bottom: 15px;
  text-align: center;
}

.details i {
  font-size: 25px;
  color: #3e2093;
  margin-bottom: 10px;
}

.topic {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 7px;
}

.text-one,
.text-two {
  font-size: 14px;
  color: #afafb6;
}

.topic-text {
  font-size: 23px;
  font-weight: 600;
  color: #3e2093;
  margin-bottom: 10px;
}

.right-side p {
  margin-bottom: 20px;
}

.input-box {
  height: 50px;
  width: 100%;
  margin-bottom: 30px;
}

.input-box input,
.input-box textarea {
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 5px;
  background: #f0f1f8;
  padding: 0 20px;
  margin-bottom: 2px;
}

.input-box label {
  font-size: 14px;
  color: #afafb6;
  padding-left: 5px;
}

.input-box textarea {
  resize: none;
  padding: 20px;
  font-family: "Roboto", sans-serif;
}

.message-box {
  min-height: 110px;
}

.button {
  display: inline-block;
}

.button input[type="submit"] {
  color: #fff;
  font-size: 18px;
  background: #3e2093;
  outline: none;
  border: none;
  padding: 10px 20px;
  border-radius: 7px;
  transition: 0.2s;
}

.button input[type="submit"]:hover {
  background: rgb(0, 0, 207);
}

@media (max-width: 800px) {
  .content {
    height: 100%;
    flex-direction: column-reverse;
  }
  .left-side {
    margin-top: 50px;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
  }
  .details {
    margin-right: 20px;
  }
  .details:last-child {
    margin-right: 0;
  }
  .left-side::before {
    display: none;
  }
  .right-side {
    width: 100%;
    margin-left: 0;
  }
}

.content-title {
  text-align: center;
  justify-content: center;
  display: flex;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}




label.error{
    display: none!important;
}


.form-container {
  justify-content: center;
  display: flex;
}


form input {
    width: 100%;
    height: 50px;
    border: 1px solid #c3c3c3;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 0 15px;
    display: flex;
    align-items: center;
}

form input.error{
    border-color:red;
}

form textarea {
    width: 100%;
    border: 1px solid #c3c3c3;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 15px;
    display: flex;
    align-items: center;
    line-height: 18px;
}

form button {
    height: 50px;
    width: 100%;
    cursor: pointer;
}





.form-content {
align-self: center;
text-align: left;
justify-content: center;
margin-left: 20px;


}

.form-title {
color: #393939;
font-family: Montserrat;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-bottom: 6px;
}

.form-pole {
color: #393939;

font-weight: 400;

}

.form-pole input {

border-radius: 40px;
border: 1px solid #217A7B;
width: 431px;
height: 80px;
padding: 11px 137px 11px 16px;
margin: 10px 0;
font-weight: 400;
}

.form-button {
display: flex;
justify-content: center; /* или 'flex-start' если хотите их выровнять по левому краю */
align-items: center; /* выровнять элементы по вертикали */
}
.form-btn button {

  text-align: center;
  border-radius: 40px;
  border: 0;
  background: #217A7B;

  display: block;
  margin: 0 auto;
  color: #ECECEC;
  font-family: Montserrat;

  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /* text-transform: uppercase; */
  padding: 1px 12px;
  margin-left: 20px;
}

.custom-file-input {
display: none;
}

.custom-file-label {
color: #393939;

padding: 16px 36px;
color: #ececec;
background: #217A7B;

border-radius: 40px;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
cursor: pointer;
}



.header-title {
  border-radius: 10px;
  background: radial-gradient(101.72% 100.68% at 50% 50%, #FFF 0%, rgba(217, 217, 217, 0.4) 100%);
  padding: 37px;
  width: 726px;
  height: 300px;
  font-size: 47px;
  font-weight: 560;
  line-height: 120%;
  display: flex;
  flex-direction: column;
  margin: 155px 0;
}



.header-subtitle {
  width: 100%;
  line-height: 120%;
  font-size: 22px;
  font-weight: 400;
  margin-top: 48px;
}

.header-btn {
  display: flex;
}

.header-button {

  text-decoration: none;
  margin: 24px 0;
  font-size: 16px;
  color: #ececec;
  background-color: #217A7B;
  padding: 0 10px;
  border: #217A7B;
  max-width: 351px;
  border-radius: 8px;
  font-weight: 400;
  text-transform: none;
}
.last {
  display: flex;
  align-items: center;
  width: 800px;
  margin: 20px auto;
}

.last a {
  margin: 0 auto;
}

.last p {
  color: #393939;
  margin-left: 10px;
  top: 26px;
  text-align: center;
  justify-content: center;
  display: flex;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.flex {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  
}

.flex-row {
  flex-direction: row;
}

@media screen and (max-width: 1024px) {
  .form-pole input {
    height: 86px;
  }
}